main {
    padding: 64px;
    overflow: auto;


    
}

.main-container {
    max-height: 100px;
    max-width: 496px;

    & .back {
        display: flex;
        align-items: center;
        gap: 5px;

        span {
            font: var(--heading4);
            color: var(--text-secondary);
        }
    }

    h1 {
        font: var(--heading2);
    }
    
    p {
        font: var(--heading4);
        color: var(--text-secondary);
    }

}

form {
    label {
        font: var(--text-secondary);
        
    }
}