/* button */
#appButton {
    position: relative;
    & div {
        opacity: 0;
        background-image: linear-gradient(to right, var(--accent-pink), var(--accent-blue), var(--accent-green), var(--accent-lime), var(--accent-red));
        position: absolute;
        border-radius: 8px;
        width: 101.5%;
        height: 62px;
        transition: 500ms;
    }
    & button {
        color: white;
        background-color: var(--background-tertiary);
        border: none;
        border-radius: 8px;
        cursor: pointer;
        width: 100%;
        height: 56px;
        display: flex;
        gap: 8px;
        justify-content: center;
        align-items: center;
        place-self: center;
        position: relative;
        z-index: 1;
        left: 0.7%;
        margin-top: 0.6%;
    }
}
/* button transtions */
#appButton:hover {
    & div {
        opacity: 1;
    }
    & button {
        & img {
            animation-name: arrowRoll;
            animation-duration: 3s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
        }
    }
}
/* #appButton:hover button img {
    animation-name: arrowRoll;
} */
@keyframes arrowRoll {
    0%   { transform: translateX(0); }
    10%   { transform: translateX(5px); }
    20%   { transform: translateX(0); }
    30%   { transform: translateX(5px); }
    40%   { transform: translateX(0); }
    50%   { transform: translateX(5px); }
    60%   { transform: translateX(0); }
    70%   { transform: translateX(5px); }
    80%   { transform: translateX(0); }
    90%   { transform: translateX(5px); }
    100%   { transform: translateX(0); }
}

#newResultButton {
    display: none;
    position: relative;
    animation-name: appearButton;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    & div {
        opacity: 0;
        background-image: linear-gradient(to right, var(--accent-pink), var(--accent-blue), var(--accent-green), var(--accent-lime), var(--accent-red));
        position: absolute;
        border-radius: 8px;
        width: 101.5%;
        height: 62px;
        transition: 500ms;
    }
    & button {
        position: relative;
        color: white;
        background-color: var(--background-tertiary);
        border: none;
        border-radius: 8px;
        cursor: pointer;
        width: 100%;
        height: 56px;
        display: flex;
        gap: 8px;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        left: 0.7%;
        margin-top: 0.6%;
        & img:nth-of-type(1) {
            position: absolute;
            right: 8%;
        }
        & img:nth-of-type(2) {
            position: absolute;
            right: 6.7%;
        }
    }  
}
@keyframes appearButton {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#newResultButton:hover {
    & div {
        opacity: 1;
    }
    & button {
        & img:nth-of-type(2) {
            animation-name: spinningCircle;
            animation-duration: 3s;
            animation-fill-mode: forwards;

        }
    }
}
@keyframes spinningCircle {
    from {
        transform: none;
    }
    to {
        transform: rotate(720deg);
    }
}

/* inputs */
#selectQuantity, #selectStart, #selectEnd {
    display: grid;
    justify-items: center;
    position: relative;
    & div {
        opacity: 0;
        background-image: linear-gradient(to right, var(--accent-pink), var(--accent-blue), var(--accent-green), var(--accent-lime), var(--accent-red));
        position: absolute;
        border-radius: 8px;
        width: 86px;
        height: 56px;
        bottom: 0;
        transition: 500ms;
    }
    & label {
        color: var(--content-primary);
        transition: 300ms;
    }
    & input {
        font-family: var(--ff-sora);
        font-size: var(--fs-sm-sora);
        font-weight: var(--fw-bold);
        line-height: var(--lh-130);
        text-align: center;
        color: white;
        width: 82px;
        height: 52px;
        border: none;
        border-radius: 8px;
        background-color: var(--background-secondary);
        transition: 300ms;
        position: relative;
        z-index: 1;
        margin-bottom: 2px;
    }
    & input:focus {
        outline: none;
        background-color: var(--background-tertiary);
    }
}
#selectRepeat { 
    display: flex;
    align-items: center;
    gap: 8px;
    & div {
        height: 20px;
        width: 30px;
        display: flex;
        align-items: center;
        gap: 4px;
        border-radius: 50px;
        background-color: var(--content-tertiary);
        /* background-image: linear-gradient(to right, var(--accent-pink), var(--accent-blue)); */
    }
    & label {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
        color: var(--content-primary);
    }
}

/* input transitions */
#selectQuantity:hover, #selectStart:hover, #selectEnd:hover {
    & div {
        opacity: 1;
    }
    & label {
        color: var(--accent-pink);
    }
    & input {
        background-color: var(--background-tertiary);
    }
}
#selectQuantity:focus-within div, #selectStart:focus-within div, #selectEnd:focus-within div {
    opacity: 1;
}
#selectQuantity:focus-within label, #selectStart:focus-within label, #selectEnd:focus-within label {
    color: var(--accent-pink);
}

#inputNums {
    transition: 1s;
    display: flex;
    gap: 12px;
}
#inputText {
    display: initial;
}