#resultText {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    border: solid red;
    height: 58px;
    width: 482px;
}
#resultNumbers {
    display: none;
    gap: 4px;
    border: solid red;
    height: 100px;
    width: 260px;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.robotoMonoResult {
    font-family: var(--ff-roboto-mono);
    font-size: 48px;
    font-weight: bold;
    line-height: 1.5;
}