header {
    width: 100%;
    height: 114px;
    & img {
        height: 38px;
        width: 172px;
        margin-left: 120px;
        margin-top: 73px;
        cursor: pointer;
    }
}
section {
    width: 1098px;
    height: 412px;
    margin-inline: auto;
    margin-top: 89px;
    display: grid;
    grid-template-areas: 
    "A B"
    "C B";
    gap: auto;
}
#titleText {
    display: grid;
    gap: 12px;
    grid-area: A;
    height: 224px;
    width: 513px;
}
#infoText {
    grid-area: C;
    height: 150px;
    width: 386px;
    margin-top: auto;
    display: grid;
    gap: 29px;
    & div {
        display: grid;
        grid-template-areas: 
        "A B"
        "A C";

        & img {
            margin-right: 8px;
            grid-area: A;
        }
        & h5 {
            grid-area: B;
        }
        & p {
            grid-area: C;
        }
    }
}
#app {
    grid-area: B;
    display: grid;
    gap: 40px;
    height: 344px;
    width: 482px;
    margin-left: auto;
    margin-block: auto;
}
#appForm {
    display: grid;
    gap: 40px;
    border: none;
}
#inputForm {
    display: grid;
    gap: 12px;
}

@media (width < 1300px) {
    header {
        height: 84px;
        & img {
            display: block;
            margin-inline: auto;
            height: 38px;
            width: 172px;
            margin-top: 44px;
        }
    }
    section {
        width: 319px;
        height: 785px;
        margin-top: 46px;
        margin-bottom: 44px;
        display: grid;
        grid-template-areas: 
        "A"
        "B"
        "C";
    }
    #titleText {
        grid-area: A;
        width: 319px;
        height: 136px;
    }
    #infoText {
        grid-area: C;
        width: 319px;
        height: 168px;
    }
    #app {
        grid-area: B;
        width: 319px;
        height: 359px;
    }
}