/*paddings*/
.px-sm {
    padding-inline: var(--px-sm);
}

.px-md {
    padding-inline: var(--px-md);
}

.py-sm {
    padding-block: var(--py-sm);
}

.py-md {
    padding-block: var(--py-md);
}

.py-lg {
    padding-top: var(--py-lg);
}

.py-lg2 {
    padding-block: var(--py-lg2);
}


/*displays*/
.flex {
    display: flex;
}

.grid {
    display: grid;
}

/*alinhamentos*/
.center {
    place-items: center;
}

/*gaps*/
.gap-1rem {
    gap: 1rem;
}
