#app1 {
    background-color: var(--background-color);
    display: grid;
    gap: 16px;
}
#app1 > div:nth-child(1) {
    background-image: url("/desafio2responsividade/assets/imgs/Image01.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    align-content: end;
    gap: 8px;
    padding-bottom: 24px;
    padding-inline: 24px;
}

#app1 > div:nth-child(2) {
    display: grid;
    gap: 16px;
    & div:nth-child(1){
        background-image: url("/desafio2responsividade/assets/imgs/Image02.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    & div:nth-child(2){
        background-image: url("/desafio2responsividade/assets/imgs/Image03.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    & div:nth-child(3){
        background-image: url("/desafio2responsividade/assets/imgs/Image04.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    & div:nth-child(4){
        background-image: url("/desafio2responsividade/assets/imgs/Image05.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}



#app2 {
    border: solid red;
    border-block: 0.5px solid gray;
}
#app2 > div {
    border: dashed black;
}

#app2 > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

#app2 > div:nth-child(2) {
    display: grid;
    gap: 32px;
    & div {
        border: solid red;
    }
}

#app3 {
    border: solid red;
}
#app3 > div {
    border: dashed black;
}
#app3 {
    display: grid;
    gap: 32px;
}
#app3 > div:nth-child(1) {
    & div:nth-child(1) {
        display: flex;
        justify-content: space-between;
    }
    border-block: 0.8px solid gray;
}

#app31 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--background-color);
}

#app3 > div:nth-child(2) {
    background-image: url("/desafio2responsividade/assets/Ads.png");
    height: 188.58px;
    width: 328px;
    background-size: cover;
    background-repeat: no-repeat;
}


@media (width >= 80rem) {
    #app1 {
        display: grid;
        grid-template-columns: 608px 592px;
        grid-template-rows: none;
        gap: 16px;
    }

    #app1 > div:nth-child(2) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    #app2 > div:nth-child(2) {
        display: flex;
        gap: 16px;

        & div {
            border: solid red;
        }
    }

    #app3 {
        display: grid;
        grid-template-areas:
        "A B B"
        "A C C"
        "A C C" 
        ;
        gap: 32px;
    }

    #app3 div:nth-child(1) {
        grid-area: A;
    }
    #app3 div:nth-child(2) {
        grid-area: B;
    }
    #app3 div:nth-child(3) {
        grid-area: C;
    }
}

