/*paddings*/
.px-sm {
    padding-inline: var(--px-sm);
}
.py-sm {
    padding-block: var(--py-sm);
}
.py-md {
    padding-block: var(--py-md);
}
.py-lg {
    padding-block: var(--py-lg);
}

/*displays*/
.flex {
    display: flex;
}
.grid {
    display: grid;
}
.center {
    place-content: center;
}
.gap16 {
    gap: 16px;
}
.gap4 {
    gap: 4px;
}

/*cores*/
.primcol {
    color: var(--text-color-primary);
}

.seccol {
    color: var(--text-color-secondary);
}


/*botao*/
.botao {
    font-family: var(--ff-archivo);
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;
    border-radius: 5px;
    background-color: var(--brand-color-dark);
    color: var(--text-color-primary);
    width: fit-content;
    padding-inline: 8px;
    padding-block: 4px;
}

.txtimg {
    display: grid;
    align-content: end;
    gap: 8px;
    padding-bottom: 12px;
    padding-inline: 12px;
}

/*imagens*/
.img1 {
    height: 416px;
    width: 326px;
    border-radius: 4px;
}
.img2 {
    height: 200px;
    width: 322px;
    border-radius: 4px;
}

.img3 {
    height: 234px;
    width: 328px;
    border-radius: 4px;
}
.img4 {
    height: 80px;
    width: 80px;
    border-radius: 4px;
}


.blockimg {
    display: flex;
    height: 164px;
    width: 328px;
}

.description {
  font-size: 14px;
  color: #bfc7d5;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* ajuste conforme quiser */
  overflow: hidden;
}
.title {
  font-size: 18px;
  font-weight: 600;
  color: #fff;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* número de linhas */
  overflow: hidden;
}

.add {
    height: 188.58px;
    width: 328px;
}

@media (width >= 80rem) {
    .img1 {
        height: 416px;
        width: 608px;
    }
    .img2 {
        height: 200px;
        width: 288px;
    }
    .img3 {
        height: 234px;
        width: 292px;
        border-radius: 4px;
    }
    .img4 {
        height: 176px;
        width: 176px;
        border-radius: 4px;
    }
    .blockimg {
        display: flex;
        flex-direction: row-reverse;
        height: 176px;
        width: 696px;
    }
    .add {
        height: 280px;
        width: 488px;
    }
}