/*paddings*/
.px-sm {
    padding-inline: var(--px-sm);
}
.py-sm {
    padding-block: var(--py-sm);
}
.py-md {
    padding-block: var(--py-md);
}
.py-lg {
    padding-block: var(--py-lg);
}

/*displays*/
.flex {
    display: flex;
}
.center {
    justify-content: center;
}
.gap16 {
    gap: 16px;
}
