.container {
    padding: 0;
    width: 225px;
    height: 110px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
}