main {
    margin: 20px 20px 20px 10px;
    background-color: var(--shape-body);
    border-radius: 12px;
}

.main-container {
    padding-inline: 130px;
    padding-top: 80px;

    h1 {
        font: var(--heading-md);
        color: var(--text-heading);
        margin-bottom: 40px;
    }

    .form-info {
        display: grid;
        gap: 12px;
        border: none;
    }

    .fototexto {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 12px;
        h2 {
            font: var(--heading-sm);
            color: var(--text-heading);
        }  
    }

    p {
        font: var(--body-sm);
        color: var(--text-body);
    }

    label {
        font: var(--body-sm);
        color: var(--text-body);
    }
}

.botao {
    padding-left: 383px;
    button {
        font: var(--body-md);
        color: var(--text-heading);
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 12px;
        background-color: var(--brand-dark);
        width: 177px;
        height: 48px;
        border-radius: 8px;
        padding-inline: 20px;
        padding-block: 14px;
        transition: transform 0.2s ease-in-out;
    }

}


button:hover {
    transform: scale(1.05);
}

.textarea-wrapper {
    p {
        margin-bottom: 12px;
    }

    textarea {
        color: var(--text-body);
        background-color: var(--input-base);
        border: 1px solid var(--input-stroke);
        border-radius: 8px;
        font: var(--body-md);
        padding: 16px;
        width: 560px;
        height: 136px;
    }
}

.input {
    display: flex;
    gap: 16px;
    
    p {
        margin-bottom: 12px;
    }

    #tipo {
        width: 272px;
        height: 48px;
        border-radius: 8px;
        border: 1px solid var(--input-stroke);
        color: var(--text-body);
        background-color: var(--input-base);
        font: var(--body-md);
        padding-inline: 16px;
        padding-block: 13px;


    }

    #local {
        width: 272px;
        height: 48px;
        border-radius: 8px;
        border: 1px solid var(--input-stroke);
        color: var(--text-body);
        background-color: var(--input-base);
        font: var(--body-md);
        padding-inline: 16px;
        padding-block: 13px;
    }
}

.input-date {
    display: flex;
    gap: 16px;
    
    p {
        margin-bottom: 12px;
    }

    #inicio, #fim {
        width: 272px;
        height: 48px;
        border-radius: 8px;
        border: 1px solid var(--input-stroke);
        color: var(--text-body);
        background-color: var(--input-base);
        font: var(--body-md);
        padding-inline: 16px;
        padding-block: 13px;
    }
}

.input-wrapper {
    p {
        margin-bottom: 12px;
    }

    #titulo {
        width: 560px;
        height: 48px;
        border-radius: 8px;
        border: 1px solid var(--input-stroke);
        color: var(--text-body);
        background-color: var(--input-base);
        font: var(--body-md);
        padding-inline: 16px;
        padding-block: 13px;
    }

    #nome {
        width: 560px;
        height: 48px;
        border-radius: 8px;
        border: 1px solid var(--input-stroke);
        color: var(--text-body);
        background-color: var(--input-base);
        font: var(--body-md);
        padding-inline: 16px;
        padding-block: 13px;
    }
}

.input-dados {
    display: flex;
    gap: 16px;
    
    p {
        margin-bottom: 12px;
    }

    #email, #telefone {
        width: 272px;
        height: 48px;
        border-radius: 8px;
        border: 1px solid var(--input-stroke);
        color: var(--text-body);
        background-color: var(--input-base);
        font: var(--body-md);
        padding-inline: 16px;
        padding-block: 13px;
    }
}

.drop-area {
    display: flex;
    gap: 16px; 

    p {
        margin-bottom: 12px;
    }  

    #capa {
        
        font: var(--body-md);
        color: var(--input-placeholder);
    }
}

.input-cores {
    #cores {
        display: flex;
        gap: 38px;
        
        #azulclaro + label {
            background-color: var(--brand-light);
            width: 40px;
            height: 40px;
            border: 4px solid var(--shape-button);
            border-radius: 50%;
            position: absolute;
            transition: transform 0.2s ease-in-out;
            gap: 12px;
            
        }
        #roxoescuro + label {
            background-color: var(--purple);
            width: 40px;
            height: 40px;
            border: 4px solid var(--shape-button);
            border-radius: 50%;
            position: absolute;
            margin-left: 52px;
            transition: transform 0.2s ease-in-out;
            gap: 12px;
        }
        #roxo + label {
            background-color: var(--fuschia);
            width: 40px;
            height: 40px;
            border: 4px solid var(--shape-button);
            border-radius: 50%;
            position: absolute;
            margin-left: 104px;
            transition: transform 0.2s ease-in-out;
            gap: 12px;
        }
        #rosa + label {
            background-color: var(--pink);
            width: 40px;
            height: 40px;
            border: 4px solid var(--shape-button);
            border-radius: 50%;
            position: absolute;
            margin-left: 156px;
            transition: transform 0.2s ease-in-out;
            gap: 12px;
        }
        #laranja + label {
            background-color: var(--orange);
            width: 40px;
            height: 40px;
            border: 4px solid var(--shape-button);
            border-radius: 50%;
            position: absolute;
            margin-left: 208px;
            transition: transform 0.2s ease-in-out;
            gap: 12px;
        }
        #amarelo + label {
            background-color: var(--yellow);
            width: 40px;
            height: 40px;
            border: 4px solid var(--shape-button);
            border-radius: 50%;
            position: absolute;
            margin-left: 260px;
            transition: transform 0.2s ease-in-out;
            gap: 12px;
        }
        #limao + label {
            background-color: var(--lime);
            width: 40px;
            height: 40px;
            border: 4px solid var(--shape-button);
            border-radius: 50%;
            position: absolute;
            margin-left: 312px;
            transition: transform 0.2s ease-in-out;
            gap: 12px;
        }
        #verde + label {
            background-color: var(--green);
            width: 40px;
            height: 40px;
            border: 4px solid var(--shape-button);
            border-radius: 50%;
            position: absolute;
            margin-left: 364px;
            transition: transform 0.2s ease-in-out;
            gap: 12px;
        }
        #ciano + label {
            background-color: var(--cyan);
            width: 40px;
            height: 40px;
            border: 4px solid var(--shape-button);
            border-radius: 50%;
            position: absolute;
            margin-left: 416px;
            transition: transform 0.2s ease-in-out;
            gap: 12px;
        }
        #navy + label {
            background-color: var(--navy);
            width: 40px;
            height: 40px;
            border: 4px solid var(--shape-button);
            border-radius: 50%;
            position: absolute;
            margin-left: 468px;
            transition: transform 0.2s ease-in-out;
            gap: 12px;
        }

        label:hover {
            transform: scale(1.05);
        }
        .input-cores:focus {
            outline: 2px solid var(--brand-light);
        }

    }

}

.tema {
    display: flex;
    gap: 12px;
    margin-bottom: 12px;

    label {
        background-color: var(--shape-button);
        width: 134px;
        height: 103px;
        border-radius: 8px;
        transition: transform 0.2s ease-in-out;
    }

    
    img {
        padding-inline: 4px;
        padding-top: 4px;
        transition: transform 0.2s ease-in-out;
    }
    
    p {
        padding-top: 4px;
        text-align: center;
        transition: transform 0.2s ease-in-out;
    }
    
    label:hover {
            transform: scale(1.05);
        }
    
    input:checked + label{
        border: 2px solid var(--brand-light);;
    }
}

input:focus, select:focus, textarea:focus {
    outline: 1px solid var(--brand-dark);
    border: 2px solid var(--brand-light);
    outline-offset: .1px;
}
