* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 800px;
    background-color: deeppink;
    border: solid red 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto2d {
    position: relative;
    z-index: 1;
    width: fit-content;
    border: solid green;
}

.fundo3d {
    height: 39rem;
    width: 50vw;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}