* {
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
    z-index: 1;
    /* border: solid red; */
    width: 550px;
    height: 449px;
    font-family: "archivo";
    gap: 40px;
    margin-left: 6rem;
    display: flex;
    flex-direction: column;
}
.hero > div > h1 {
    color: #FFFFFF;
    line-height: 75%;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -9px;
}

.hero > p {
    font-size: 20px;
    font-weight: 500;
    color: #9E9E9E;
}

.container {
    /* border: green; */
    height: 710px;
    background-color: #111111;
    display: flex;
    align-items: center;
}

.fundo3d {
    width: 700px;
    height: 700px;
    /* border: solid red; */
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}