*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-size: inherit;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    /*cores base*/
    --background-color: #09090B;
    --surface-color: #18181B;
    --stroke-color: #27272A;
    --text-color-secondary: #A1A1AA;
    --text-color-primary: #F4F4F5;


    /*fonte*/
    --font-family-inter: "Inter", sans-serif;;

    /*tipografia desktop*/
    --h1-desktop: 800 64px/120% var(--font-family-inter);
    --h2-desktop: 800 48px/120% var(--font-family-inter);
    --h3-desktop: 800 32px/120% var(--font-family-inter);
    --span-desktop: 500 14px/100% var(--font-family-inter);
    --paragraph-desktop: 400 16px/160% var(--font-family-inter);

    /*tipografia mobile*/
    --h1-mobile: 800 40px/120% var(--font-family-inter);
    --h2-mobile: 800 24px/120% var(--font-family-inter);
    --h3-mobile: 800 20px/120% var(--font-family-inter);
    --span-mobile: 500 14px/100% var(--font-family-inter);
    --paragraph-mobile: 400 16px/160% var(--font-family-inter);

}