main {
    border: solid blue;
}
.section1 {
    width: 560px;
    margin-top: 235px;
    border: solid red;
    margin-inline: auto;
}
.section1title {
    width: 457px;
    height: 38px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    gap: 16px;
    
    color: var(--text-title);
    font-size: var(--fs-title-sm);
    font-weight: var(--fw-bold);

    & img {
        transition: transform 500ms;
    }
    & img:hover {
        transform: rotate(50deg);
    }
}
.section1subtitle {
    color: var(--text-body);
    text-align: center;
    font-weight: var(--fw-medium);
    width: 500px;
    margin-inline: auto;
}

.section2 {
    border: solid red;
    margin-top: 88px;
    width: 1440px;
    height: 920px;
}

.section3 {
    margin-top: 447px;
    border: solid red;
    height: 76px;
    color: var(--text-body);
    font-weight: var(--fw-bold);
    font-size: var(--fs-title-sm);
    text-align: center;
}

.section4 {
    margin-top: 56px;
    border: solid red;
    height: 606px;
    width: 1050px;
    display: block;
    justify-self: center;
}

.card1 {
    position: absolute;
    margin-left: 375px;
    z-index: 3;
    width: 288px;
    height: 416px;
    border-radius: 24px;
    background-color: var(--shape-base);
    border: 1px solid var(--shape-stroke);
    transition: 1s, transform 300ms;
    & .descricao {
        margin-top: 70px;
    }
}
.card2 {
    position: absolute;
    margin-left: 100px;
    margin-top: 30px;
    transform: rotate(-10deg);
    z-index: 1;

    width: 288px;
    height: 416px;
    border-radius: 24px;
    background-color: var(--shape-base);
    border: 1px solid var(--shape-stroke);
    transition: 1s, transform 300ms;
    & .descricao {
        margin-top: 106px;
    }
}
.card3 {
    position: absolute;
    margin-left: 650px;
    margin-top: 50px;
    transform: rotate(10deg);
    z-index: 2;


    width: 288px;
    height: 416px;
    border-radius: 24px;
    background-color: var(--shape-base);
    border: 1px solid var(--shape-stroke);
    transition: 1s, transform 300ms, transform 200ms;
    & .descricao {
        margin-top: 52px;
    }
}
.card1:hover, .card2:hover, .card3:hover {
    background-color: var(--shape-hover);
    transform: scale(1.01) translateY(-10px);
    & .plano {
        & span:nth-of-type(1) {
            color: var(--pink-light);
        }
    }
    & .button {
        background-color: var(--pink-dark);
    }
    & .button:hover {
        background-color: var(--pink-base);
    }
}

.card2:hover {
    z-index: 4;
    transform: translate(-40px, -10px) rotate(-15deg);
}

.card3:hover {
    z-index: 4;
    transform: translate(50px, -10px) rotate(15deg);
}