*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    /*cores da marca*/
    --brand-color: #EF5F4C;

    /*cores da forma*/
    --background-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9; 
    --shape-transparency: hsl(0, 0%, 56%);

    /*cores do texto*/
    --text-color-primary: #313131;
    --text-color-secondary: #6C6C6C;

    /*fonte*/
    --ff-poppins: 'Poppins', system-ui, sans-serif;

    /*peso da fonte*/
    --fw-bold: 700;
    --fw-regular: 400;

    /*tamanho da fonte*/
    --fs-lg: 2rem;
    --fs-md: 1rem;
    --fs-sm: 0.875rem;

    /*paddings*/
    --py-md: 1rem;
    --px-md: 1rem;
    
    --py-lg: 2rem;
    --px-lg: 2rem;
}

html {
    font-family: var(--ff-poppins);
}

h1 {
    color: var(--text-color-primary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-lg);
    padding-bottom: 0.5rem;
}

p {
    color: var(--text-color-secondary);
    font-weight: var(--fw-regular);
}

.p-md {
    font-size: var(--fs-md);
}

.p-sm {
    font-size: var(--fs-sm);
}

a {
    text-decoration: none;
    color: var(--text-color-secondary);
}

@media (width >= 80rem) {
    :root {
        --py-md: 1.25rem;
        --px-md: 2rem;
    }
}