/*propriedades gerais*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*variáveis*/
:root {
  /*cores*/
  --brand-color: #EF5F4C;
  --background-color: #FFFFFF;
  --surface-color: #F5F5F5;
  --skeleton-color: #D9D9D9;
  --shape-transparency: hsl(0, 0%, 56%);
  --text-color-primary: #313131;
  --text-color-secondary: #6C6C6C;

  /*tipografia*/
  --ff-poppins: "Poppins", sans-serif;

  /*pesos da fonte*/
  --fw-bold: 700;
  --fw-regular: 400;

  /*tamanho da fonte*/
  --fs-h1: 1.5rem;
  --fs-p-md: 0.875rem;
  --fs-p-sm: 0.75rem;

  /*paddings da tela*/

  --px-sm: 1rem;
  --px-md: 2rem;

  --py-sm: 1rem;
  --py-md: 2rem;
  --py-lg2: 1rem;
}


/*textos*/
h1, .p-md, .p-sm {
  font-family: var(--ff-poppins);
}

h1 {
  color: var(--text-color-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h1);
  line-height: 1.7;
}

.p-md, .p-sm {
  line-height: 1.25;
  font-weight: var(--fw-regular);
  color: var(--text-color-secondary);
}

.p-md {
  font-size: var(--fs-p-md);
}

.p-sm {
  font-size: var(--fs-p-sm);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/*responsividade desktop*/

.desktop-only {
  display: none;
}

@media (width >= 80rem){
  :root {
    --fs-h1: 2rem;

    /*padding*/
    --px-sm: 2rem;
    --py-sm: 1.25rem;
    --py-lg: 2.25rem;
    --py-lg2: 1.5rem;
  }
  
  .desktop-only {
    display: initial;
  }
}