nav {
    border: solid black;
    display: flex;
    justify-content: space-between;
}

div {
    border: solid red;
}

.foto {
    width: 7.5rem;
    height: 7.5rem;
}

.fotop {
    width: 2.5rem;
    height: 2.5rem;
}

.lupa {
    width: 2;
    height: 2;
}

@media (width >= 80rem) {
    .foto {
        width: 11rem;
        height: 11rem;
    }
}