header {
    background-color: var(--surface-color);
    border: solid black;
}

nav {
    display: flex;
    justify-content: space-between;
}

.foto {
    width: 7.5rem;
    height: 7.5rem;
}

.fotop {
    width: 2.5rem;
    height: 2.5rem;
}

.lupa {
    width: 2;
    height: 2;
}

/*pefil*/
.info {
    display: grid;
    max-width: 330px;
}

#profile {
    display: grid;
    gap: 2rem;
}

.profile-info {
    display: grid;
    gap: 1rem;
}

.topicos {
    padding-top: var(--py-lg);
}

.topicos > li:nth-child(1) {
    margin-bottom: 1rem;
}
.topicos > li:nth-child(2) {
    margin-bottom: 1rem;
}

@media (width >= 80rem) {
    .foto {
        width: 11rem;
        height: 11rem;
    }

    .info {
        display: grid;
        grid-template-columns: 330px;
        grid-template-rows: 1fr 2fr;
        max-width: 330px;
    }

    .profile-info {
        display: flex;
        gap: 2rem;
    }

    #profile {
        display: flex;
        justify-content: space-between;
    }

}