header {
    background-color: var(--surface-color);
    border: solid red;
}
nav {
    & a:first-child {
        margin-right: auto;
    }
}

.info {
    display: grid;
}

@media (width >= 80rem) {    
    .info {        
        display: flex;
        align-items: center;
    }

    .info div:first-of-type {
        margin-right: auto;
    }
}