.py-lg {
    padding-block: var(--py-lg);
}
.py-md {
    padding-block: var(--py-md);
}

.px-lg {
    padding-inline: var(--px-lg);
}

.px-md {
    padding-inline: var(--px-md);
}

.py-info-md {
    padding-bottom: 1rem;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
}

.gap-0\.5 {
    gap: 0.5rem;
}

.gap-1 {
    gap: 1rem;
}

.desktop-only {
    display: none;
}

.alignitemscenter {
    img {
        margin-right: auto;
    }
}

.pic-sm {
    width: 2.5rem;
    height: 2.5rem;
}

.pic-lg {
    width: 7.5rem;
    height: 7.5rem;
}

.sizeinfo {
    width: 18.5rem;
    height: 11.375rem;
}

@media (width >= 80rem) {
    .desktop-only {
        display: initial;
    }

    .pic-lg {
        width: 11rem;
        height: 11rem;
    }

    .sizeinfo {
        width: 24rem;
        height: 10.5rem;
        padding-left: var(--px-lg);
        padding-top: 1rem;
    }
}
