main {
    padding: 64px;
    overflow: auto;


    
}

.main-container {
    max-height: 100px;
    max-width: 496px;

    & .back {
        display: flex;
        align-items: center;
        gap: 5px;

        span {
            font: var(--heading4);
            color: var(--text-secondary);
        }
    }

    h1 {
        font: var(--heading2);
    }
    
    p {
        font: var(--heading4);
        color: var(--text-secondary);
    }

}

form {
    margin-top: 30px;
}

fieldset {
    border: none;
    display: grid;
    gap: 15px;
}

legend {
    font: var(--heading4);
    color: var(--text-primary);
    margin-top: 15px;
}

.input-wrapper{
    label {
        font: var(--heading5);
    }
}