/*banner da página*/
#banner {
    border: solid;
    max-width: 1280px;
    display: grid;
    place-items: center;
    gap: 32px;
    padding-bottom: 32px;
}
.banner1 {
    width: 312px;
    height: 312px;
    position: relative;
    overflow: hidden;
}
.banner2 {
    width: 312px;
    height: 296px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.banner2display {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
}


/*animação banner1*/
h1 div {
    display: inline-block;
    overflow: hidden;
    height: 2.5rem;
    width: min-content;
    vertical-align: bottom;
}
h1 span:nth-child(1) {
    color: var(--snitap-sky-mid);
}
h1 span:nth-child(2) {
    color: var(--snitap-joy-mid);
}
h1 span:nth-child(3) {
    color: var(--snitap-leaf-mid);
}
h1 span:nth-child(4) {
    color: var(--snitap-sky-mid);
}
h1 span{
    display: block;
    animation: slideUp 5s infinite;
}
@keyframes slideUp {
        /*divertida*/
        0%, 22% {
            transform: translateY(0);
        }
        23% {
            transform: translateY(calc(-2.5rem - 15px));
        }
        25% {
            transform: translateY(calc(-2.5rem + 10px));
        }
        27% {
            transform: translateY(calc(-2.5rem - 5px));
        }
        29% {
            transform: translateY(calc(-2.5rem + 5px));
        }

        /*saudável*/
        33%, 55% {
            transform: translateY(-2.5rem);
        }
        56%{
            transform: translateY(calc(-5rem - 15px));
        }
        58%{
            transform: translateY(calc(-5rem + 10px));
        }
        60%{
            transform: translateY(calc(-5rem + 5px));
        }
        62%{
            transform: translateY(calc(-5rem + 5px));
        }

        /*radical*/
        66%, 88% {
            transform: translateY(-5rem);
        }
        89%{
            transform: translateY(calc(-7.5rem - 15px));
        }
        91%{
            transform: translateY(calc(-7.5rem + 10px));
        }
        93%{
            transform: translateY(calc(-7.5rem + 5px));
        }
        95%{
            transform: translateY(calc(-7.55rem + 5px));
        }

        100% {
            transform: translateY(-7.5rem);
        }
}


/*imagens do banner*/
.imgb1 {
    width: 312px;
    height: 312px;
    position: absolute;

    transform: translateX(200%);
    animation: slideIn 3s 200ms ease both;
}
.imgb2 {
    width: 312px;
    height: 295px;
    position: absolute;
    transform: translateX(200%);
    animation: slideIn 3s ease both;
    z-index: 1;
}
.stars1 {
    width: 56px;
    height: 45px;
    position: absolute;
    top: 80px;
    transform: translateX(600%);
    animation: slideIn 3s 900ms ease both;
}
.stars2 {
    width: 25px;
    height: 38px;
    position: absolute;
    top: 170px;
    left: 295px;
    transform: translateX(400%);
    animation: slideIn 3s 800ms ease both;
}


@keyframes slideIn {
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes appear {
    to {
        opacity: 1;
    }
}

@media (width >=1280px) {
    #banner {
        display: flex;
        flex-direction: row-reverse;
        place-content: center;
    }
    .banner1 {
        width: 488px;
        height: 488px;
    }
    .banner2 {
        width: 696px;
        height: 281px;
    }
    .banner2display {
        display: flex;
        flex-direction: row;
        gap: 32px;
    }
    .imgb1 {
        width: 488px;
        height: 488px;
        position: absolute;
        
    }
    .imgb2 {
        width: 488px;
        height: 462px;
        position: absolute;
    }
    .stars1 {
        width: 88px;
        height: 72px;
        position: absolute;
        top: 130px;
    }
    .stars2 {
        width: 40px;
        height: 60px;
        position: absolute;
        top: 270px;
        left: 465px;
    }
    h1 div {
        height: 5rem;
    }
    @keyframes slideUp {
        /*divertida*/
        0%, 22% {
            transform: translateY(0);
        }
        23% {
            transform: translateY(calc(-5rem - 15px));
        }
        25% {
            transform: translateY(calc(-5rem + 10px));
        }
        27% {
            transform: translateY(calc(-5rem - 5px));
        }
        29% {
            transform: translateY(calc(-5rem + 5px));
        }

        /*saudável*/
        33%, 55% {
            transform: translateY(-5rem);
        }
        56%{
            transform: translateY(calc(-10rem - 15px));
        }
        58%{
            transform: translateY(calc(-10rem + 10px));
        }
        60%{
            transform: translateY(calc(-10rem + 5px));
        }
        62%{
            transform: translateY(calc(-10rem + 5px));
        }

        /*radical*/
        66%, 88% {
            transform: translateY(-10rem);
        }
        89%{
            transform: translateY(calc(-15rem - 15px));
        }
        91%{
            transform: translateY(calc(-15rem + 10px));
        }
        93%{
            transform: translateY(calc(-15rem + 5px));
        }
        95%{
            transform: translateY(calc(-15rem + 5px));
        }

        100% {
            transform: translateY(-15rem);
        }
    }
}