nav {
    display: flex;
    justify-content: space-between;    
}

nav img {
    width: 32px;
    height: 32px;
    transition: transform 500ms;
}

nav img[src*="logo"]:hover {
    transform: rotate(90deg);
}
nav img[src*="shopbag"]:hover {
    transform: rotate(-20deg);
}

/*produto no carrinho*/
.num1 {
    /*fonte do círculo*/
    font-family: "Inter", sans-serif;
    font-weight: var(--fw-medium);
    text-align: center;
    color: black;

    /*propriedades do círculo*/
    background-color: var(--snitap-sun); 
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    
    /*posição*/
    position: absolute;
    top: 5px;
    right: 16px;
}

@media (width >= 1280px) {
    .num1 {
        position: absolute;
        top: 5px;
        right: 25px;
    }
}