#linha {
    border: solid;
}
.linha {
    font-family: var(--ff-syne);
    font-size: 20px;
    font-weight: var(--fw-bold);
    line-height: 1.2;
    
    display: flex;
    gap: 24px;
    padding-block: 20px;
    
    background: linear-gradient(to left, var(--snitap-joy-mid), var(--snitap-joy-light));
}