#main {
    display: grid;
    gap: 24px;
}

.titulo {
    width: 312px;
    height: 55px;
    display: grid;
    place-items: center;
}

.fotos {
    display: grid;
    gap: 24px;
    
    & section {
        display: grid;
        gap: 24px;
    }
    & div {
        border-radius: 40px;
        width: 312px;
        height: 256px;
        overflow: hidden
    }
}

.foto {
    width: 100%;
    height: 100%;
    transition: transform 300ms;
}

.foto:hover {
    transform: scale(1.05);
}

@media (width >= 1280px) {
    #main {
        gap: 32px;
    }

    .titulo {
        width: 1216px;
        height: 72px;
    }

    .fotos {
        display: grid;
        gap: 32px;

        & section {
            display: flex;
            gap: 32px;
        }

        & section:nth-child(1) {
            & div:nth-child(1) {
                width: 488px;
                height: 400px;
            }
            & div:nth-child(2) {
                width: 696px;
                height: 400px;
            }
        }
        & section:nth-child(2) {
            & div:nth-child(1) {
                width: 696px;
                height: 400px;
            }
            & div:nth-child(2) {
                width: 488px;
                height: 400px;
            }
        }
    }

}