#featured {
    img {
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }
    
    .card {
        position: relative;
        border-radius: 4px;
        overflow: hidden;
        
        &::before {
            content: "";
            position: absolute;
            background-color: white;
            inset: 0;
            top: 50%;
            background: linear-gradient(
                180deg, transparent 0%, 
                black 100%
            );
        }
    }

    figcaption {
        position: absolute;
        bottom: 0;
        padding: 24px;
    }

    h2 {
        margin-top: 20px;
    }

    h3 {
        margin-top: 20px;
    }
    
}

#weekly {   
    header{
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }

    img {
        height: 160px;
    }
}

#maislidas {
    display: grid;
    grid-auto-flow: column;
    margin-top: 20px;
    border: 1px white;
}