/*form properties*/
#form1 {
    border: solid red;
    display: grid;
    gap: 16px;
    margin-top: 44px;
    margin-bottom: 40px;
}

/*input properties*/
#newItem {
    width: 326px;
    height: 44px;
    border: 3px solid var(--border-primary);
    border-radius: 12px;
    background-color: var(--always-white);
    padding-left: 18px;
}
#newItem:hover {
    border: 3px solid var(--border-hover);
}
#newItem:focus {
    border: 3px solid var(--color-brand);
    outline: none;
}
#newItem::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--border-primary);
}
#newItem:hover::placeholder {
    color: var(--border-hover);
}
#newItem:focus::placeholder {
    color: var(--content-primary);
}

/*button propeties*/
#button1 {
    width: 326px;
    height: 44px;
    padding-block: 12px;
    padding-inline: auto;
    border: none;
    border-radius: 12px;
    background-color: var(--color-brand);
    color: var(--always-white);
    font-size: 16px;
    font-weight: 600;
    transition: 500ms;
}
#button1:hover {
    background-color: var(--color-brand-hover);
}

@media (width >= 1366px) {
    #form1 {
        display: flex;
    }
    #newItem {
        width: 451px;
    }
    #button1 {
        width: 160px;
        height: 44px;
    }
}
