/*form properties*/
#createItem {
    padding-top: 44px;
}
form {
    display: grid;
    gap: 16px;
}

/*input properties*/
#newItem {
    width: 326px;
    height: 44px;
    border: 3px solid var(--border-primary);
    border-radius: 12px;
    background-color: var(--always-white);
    padding-left: 20px;
}
#newItem:hover {
    border: 3px solid var(--border-hover);
}
#newItem:focus {
    border: 3px solid var(--color-brand);
    outline: none;
}
#newItem::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--content-tertiary);
    padding-left: 18px;
}
#newItem:focus::placeholder {
    color: var(--content-primary);
}

/*button propeties*/
button {
    width: 326px;
    height: 44px;
    padding-block: 12px;
    padding-inline: auto;
    border: none;
    border-radius: 12px;
    background-color: var(--color-brand);
    color: var(--always-white);
    font-size: 16px;
    font-weight: 600;
}
button:hover {
    background-color: var(--color-brand-hover);
}

@media (width >= 1366px) {
    form {
        display: flex;
    }
    #newItem {
        width: 451px;
    }
    button {
        width: 160px;
        height: 44px;
    }
}
