/*form properties*/
form {
    display: grid;
    gap: 16px;
    margin-top: 44px;
    margin-bottom: 40px;
}

/*input properties*/
input[type="text"] {
    width: 326px;
    height: 44px;
    border: 3px solid var(--border-primary);
    border-radius: 12px;
    background-color: var(--always-white);
    padding-left: 18px;
    transition: 300ms;
}
input[type="text"]:hover {
    border: 3px solid var(--border-hover);
}
input[type="text"]:focus {
    border: 3px solid var(--color-brand);
    outline: none;
}
input[type="text"]::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--border-primary);
    transition: 300ms;
}
input[type="text"]:hover::placeholder {
    color: var(--border-hover);
}
input[type="text"]:focus::placeholder {
    color: var(--border-hover);
}

/*button propeties*/
#buttonAdd {
    cursor: pointer;
    width: 326px;
    height: 44px;
    padding-block: 12px;
    padding-inline: auto;
    border: none;
    border-radius: 12px;
    background-color: var(--color-brand);
    color: var(--always-white);
    font-size: 16px;
    font-weight: 600;
    transition: 500ms;
}
#buttonAdd:hover {
    background-color: var(--color-brand-hover);
}

@media (width >= 1366px) {
    form {
        display: flex;
    }
    #newItem {
        width: 451px;
    }
    #button1 {
        width: 160px;
        height: 44px;
    }
}
