ul {
    overflow-y: auto;
    max-height: 264px;
    display: grid;
    gap: 12px;
    border-block: 1px solid var(--border-primary);
}

li > label {
    background-color: var(--bg-secondary);

    height: 57px;
    width: 100%;
    border-radius: 12px;

    display: flex;
    gap: 12px;
    align-items: center;
    padding-inline: 12px;

    & input[type="checkbox"] {
        appearance: none;
        cursor: pointer;
        height: 16px;
        width: 16px;
        border: 2px solid var(--border-primary);
        border-radius: 6px;
    }
    & input[type="checkbox"]:hover {
        border: 2px solid var(--border-hover);
    }
    & input[type="checkbox"]:checked {
        background-image: url("/lista_de_compras/assets/icons/selectedInput.svg");
        background-position: center;
        background-size: fill;
        border: none;
    }
    & p {
        margin-right: auto;
    } 
    & button {
        background: url("/lista_de_compras/assets/icons/trash.svg");
        background-position: center;
        background-size: fill;
        background-color: var(--bg-secondary);
        height: 20px;
        width: 20px;
        border: none;
        cursor: pointer;
    }
}

.removedItem {
    display: flex;
    opacity: 0;
    gap: 8px;
    align-items: center;
    padding-inline: 12px;
    margin-top: 36px;
    height: 44px;
    width: 100%;
    border-radius: 12px;
    background-color: var(--color-danger); 
    transform: translateY(10px);
    transition: 500ms, transform 1s;
    & label {
        color: var(--always-white);
        margin-right: auto;
    }
    & button {
        background-image: url("/lista_de_compras/assets/icons/delete-white.svg");
        background-position: center;
        background-size: fill;
        background-color: var(--color-danger);
        height: 12px;
        width: 12px;
        border: none;
        cursor: pointer;
    }
}

.removedItem.show {
    opacity: 1;
    transform: translateY(-10px); 
    transition: 1s, transform 1s;
}

@media (width >= 1366px) {
    ul {
        max-height: 232px;  
    }
    li > label {
        height: 49px;
    }
}